
@{
    ViewBag.Title = "DepartmentDetails";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<section class="content container-fluid">
    <section class="content-header">
        <h1>
            Department
            <small>Details</small>
        </h1><br />

    </section>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            
        </div>
    </div><br /><br />
    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Departments</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered success" id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    Department Name
                                </th>
                                <th>
                                   Update
                                </th>

                            </tr>

                        </thead>



                    </table>

                    @* Load datatable css *@
                    <link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
                    @* Load datatable js *@
                    @section Scripts{
                        <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('#myTable').DataTable({
                                    "ajax": {
                                        "url": "/Admin/DepartmentDataLoad",
                                        "type": "GET",
                                        "datatype": "json"
                                    },
                                    "columns": [
                                        { "data": "DepartmentName", "autoWidth": true }, 
                                        {
                                            "data": "DepartmentId",
                                            "mRender": function (data, type, full) {
                                                return '<a href="/Admin/UpdateDepartment/' + data + '">Update</a>';
                                            }
                                        }
                                    ]
                                });
                            });
                        </script>
                        }
                    </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>
</section>